<template name='header'>
  <div class='header'>
    <p class='hi'>Hi!</p>
    <p class='intro-name'>My name is <span class='name'>Chris DeLauder</span></p>
    <p class='intro-blurb'>I'm a software engineer at <a class='stanza' href="https://www.stanza.co">Stanza.co</a>. I believe Javascript is the one language to rule them all. I write full-stack Javascript and will do my best to convince you to do the same. When I'm not pushing code, I enjoy curling, cooking, or being outdoors with Nibbler the beagle.</p>
  </div>
</template>